               <!--masterhead section -->
                <section class="masterhead">
                    <div class="container-fluid">
                        <div class="">
                            <a class="navbar-brand" href="/">
                            </a>
                            <div class="pull-right">
                                <ul class="menu">
                                    <li>
                                        <a href="#" class="signin">
                                            <span>Sign in
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="myAccount" data-toggle="tooltip" data-placement="bottom" title="My Account">
                                            <span>Your account
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="nav-search" id="nav-search">
                                            <div class="">
                                                <div class="input-group">
                                                    <!--sharepoint search-->
                                                    <div data-name="search_box">
                                                          {% include "includes/search_global.html" %}                                          
                                                    </div>
                                                    <!-- end sharepoint search -->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="search" href="#">
                                            <span class="sr-only">Toggle website search
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="main-menu" href="#">
                                            <span class="sr-only">Toggle main menu
                                            </span>Menu</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/.masterHead section -->